In [ ]:
'''
 * ( ) record computational time
 * (✓) Higher computational time will correlate with game performance (# turns to win)
 * (✓) Having the first turn will correlate with win %
 * (✓) Lower # cards drawn and immediately discarded will correlate with lower # turns to win (better game performance)
 * (✓) Higher # discards used will correlate with lower # turns to win (better game performance)
 * (✓) Replacement will outperform Tunnels which will outperform BiggestFirst


1559 seconds elapsed - 2500 games per scenario 
'''

'\n * ( ) record computational time\n * ( ) Higher computational time will correlate with game performance (# turns to win)\n * (✓) Having the first turn will correlate with win %\n * (✓) Lower # cards drawn and immediately discarded will correlate with lower # turns to win (better game performance)\n * (✓) Higher # discards used will correlate with lower # turns to win (better game performance)\n * (✓) Replacement will outperform Tunnels which will outperform BiggestFirst\n\n\n1559 seconds elapsed - 2500 games per scenario \n'

In [2]:
import sqlite3

# from main import setup1, setup2

# setup1()
# setup2()

# from django.db import connection 

import psycopg2

In [3]:
from notebook_utils.queries import run_query, run_query_file

In [4]:
run_query_file(
    'sql_queries/views/games_with_numplayers.sql',
    fetch=False
)
run_query_file(
    'sql_queries/views/player_with_numturns.sql',
    fetch=False
)
run_query_file(
    'sql_queries/views/player_game_pair.sql',
    fetch=False
)
run_query_file(
    'sql_queries/views/game_with_winning_player_v1.sql',
    fetch=False
)
run_query_file(
    'sql_queries/views/games_with_numplayers.sql',
    fetch=False
)
run_query_file(
    'sql_queries/views/player_game_stats.sql',
    fetch=False
)
run_query_file(
    'sql_queries/views/player_game_stats_out.sql',
    fetch=False
)

In [5]:

rows = run_query_file(
    'sql_queries/averages.sql'
)

print("name, numplayers, avg(number_of_turns), stddev (number_of_turns), variance (number_of_turns), min(number_of_turns), max(number_of_turns)")
for row in rows:
    print(", ".join([str(i) for i in row]))

name, numplayers, avg(number_of_turns), stddev (number_of_turns), variance (number_of_turns), min(number_of_turns), max(number_of_turns)
NewBiggestFirst, 1, 13.6060000000000000, 4.3646745759175981, 19.0503841536614646, 4, 43
NewBiggestFirst, 2, 13.5536000000000000, 4.5778622436976221, 20.9568227222722272, 4, 67
NewBiggestFirst, 3, 13.5537333333333333, 4.6948676425469431, 22.0417821810342912, 2, 112
Replacement, 1, 13.7320000000000000, 5.7286388366843713, 32.8173029211684674, 4, 90
Replacement, 2, 14.0606000000000000, 8.9347809526069024, 79.8303106710671067, 4, 306
Replacement, 3, 14.5298000000000000, 14.0464704528271257, 197.3033321821454764, 2, 845
Tunnels, 1, 14.0240000000000000, 4.3210754074733327, 18.6716926770708283, 5, 46
Tunnels, 2, 14.1084000000000000, 4.4066757674160591, 19.4187913191319132, 4, 43
Tunnels, 3, 14.1327333333333333, 4.4283355645901237, 19.6101558726137298, 2, 48

In [6]:
import matplotlib.pyplot as plt 
import numpy as np

query_1 = '''
    SELECT
        name, numplayers
    FROM
        player_game_pair
    GROUP BY
        name, numplayers
    ORDER BY
        name, numplayers
    '''

players = run_query(
    query_1
)
print(players)
print(f"{len(players)} number of players")
def make_graph_for(player, ax, mx = 100):
    name, numplayers = player
    query_1 = '''
        SELECT
            number_of_turns
        FROM
            player_with_numturns
        WHERE name = '{}' AND numplayers = {}        
        
        '''.format(name, numplayers)

    data= run_query(
        query_1
    )
    data = [i[0] for i in data]
    # Define the bin edges for groups of 5
    bin_size = 2
    # mx = max(data)
    # mx = 100
    bin_edges = range(0, mx + bin_size, bin_size)

    # Create histogram
    ax.hist(data, bins=bin_edges, edgecolor='black')

    # Add titles and labels
    ax.set_title(f'{name}, {numplayers} players')
    
    # ax.xlabel('Value Range')
    # ax.ylabel('Frequency')

[('NewBiggestFirst', 1), ('NewBiggestFirst', 2), ('NewBiggestFirst', 3), ('Replacement', 1), ('Replacement', 2), ('Replacement', 3), ('Tunnels', 1), ('Tunnels', 2), ('Tunnels', 3)]
9 number of players

In [10]:


# def make_graph_for(player):
#     name, numplayers = player
#     query_1 = '''
#         SELECT
#             number_of_turns
#         FROM
#             player_with_numturns
#         WHERE name = '{}' AND numplayers = {}        
        
#         '''.format(name, numplayers)
#     data= run_query(
#         query_1
#     )
    
#     data = [i[0] for i in data]
#     bin_size = 2
#     mx = max(data)
#     mx = 100
#     bin_edges = range(0, mx + bin_size, bin_size)

#     # Create histogram
#     plt.hist(data, bins=bin_edges, edgecolor='black', histtype='step')
# plt.title(players[0][0])
# make_graph_for(players[0])
# make_graph_for(players[1])
# make_graph_for(players[2])
# plt.show()

In [11]:
# plt.title(players[3][0])
# make_graph_for(players[3])
# make_graph_for(players[4])
# make_graph_for(players[5])
# plt.show()

In [12]:
# plt.title(players[6][0])
# make_graph_for(players[6])
# make_graph_for(players[7])
# make_graph_for(players[8])
# plt.show()

In [13]:
from notebook_utils.dataframes import get_df

In [14]:

# Get summary statistics
df = get_df()
statistics = df.groupby(['name', 'numplayers']).describe()
statistics

                           numturns                                         \
                              count       mean        std  min   25%   50%
name            numplayers
NewBiggestFirst 1            2500.0  13.606000   4.364675  4.0  11.0  13.0
                2           10000.0  13.553600   4.577862  4.0  11.0  13.0
                3           15000.0  13.553733   4.694868  2.0  11.0  13.0
Replacement     1            2500.0  13.732000   5.728639  4.0  11.0  13.0
                2           10000.0  14.060600   8.934781  4.0  10.0  13.0
                3           15000.0  14.529800  14.046470  2.0  10.0  13.0
Tunnels         1            2500.0  14.024000   4.321075  5.0  11.0  13.0
                2           10000.0  14.108400   4.406676  4.0  11.0  13.0
                3           15000.0  14.132733   4.428336  2.0  11.0  13.0


                             75%    max
name            numplayers
NewBiggestFirst 1           15.0   43.0
                2           15.0   67.0
                3           15.0  112.0
Replacement     1           15.0   90.0
                2           16.0  306.0
                3           15.0  845.0
Tunnels         1           16.0   46.0
                2           16.0   43.0
                3           16.0   48.0

In [15]:








# # Get summary statistics
# df = get_df(players[1])
# statistics = df.describe()
# print(players[1][0] , ',', players[1][1])
# statistics

In [16]:


# # Get summary statistics
# df = get_df(players[2])
# statistics = df.describe()
# print(players[2][0] , ',', players[2][1])
# statistics

In [17]:
# query_1 = '''
#     SELECT
#         count(turns.id) as number_of_turns,
#         turns.game_id as game_id,
#         player.name as name,
#         turns.turn_type as type
#     FROM
#         db_player as player
#     JOIN 
#         db_turn as turns ON turns.player_id = player.id
#     GROUP BY
#         turns.game_id,
#         turns.player_id,
#         turns.turn_type
#     '''
# query_2 = '''
#     SELECT
#         avg(number_of_turns),
#         name,
#         type
#     FROM
#         ({})
#     GROUP BY
#         name,
#         type
# '''.format(query_1)

# data = run_query(
#     query_2
# )

In [18]:

"""select name, count(game_id) from (SELECT
        count(turns.id) as number_of_turns,
        turns.game_id as game_id,
        player.name as name,
        turns.turn_type as type
    FROM
        db_player as player
    JOIN 
        db_turn as turns ON turns.player_id = player.id
    GROUP BY
        turns.game_id,
        turns.player_id,
        turns.turn_type
        ) where number_of_turns > 100 GROUP BY name"""

'select name, count(game_id) from (SELECT\n        count(turns.id) as number_of_turns,\n        turns.game_id as game_id,\n        player.name as name,\n        turns.turn_type as type\n    FROM\n        db_player as player\n    JOIN \n        db_turn as turns ON turns.player_id = player.id\n    GROUP BY\n        turns.game_id,\n        turns.player_id,\n        turns.turn_type\n        ) where number_of_turns > 100 GROUP BY name'

In [19]:
import numpy as np
import scipy.stats

def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

In [20]:
from statistics import NormalDist

def confidence_interval(data, confidence=0.95):
  dist = NormalDist.from_samples(data)
  z = NormalDist().inv_cdf((1 + confidence) / 2.)
  h = dist.stdev * z / ((len(data) - 1) ** .5)
  return dist.mean - h, dist.mean + h

In [21]:

print(f'name,#players,mean,low,high,size,')
for player in players:
    name, numplayers = player
    df = get_df()
    df1 = df[(df['name'] == name) & (df['numplayers'] == numplayers)] # df.query(f'name == "{name}"').query(f'numplayers == {numplayers}')    
    mean, low, high = mean_confidence_interval(df1['numturns'])
    
    print(f'{ name:15},{ numplayers },{ float(mean):5.5f},{ float(low):5.5f},{ float(high):5.5f},{ len(df1.index):4d}')
    # print(f'name={ name:15} #players={ numplayers } mean={ float(mean):5.5f} low={ float(low):5.5f} high={ float(high):5.5f} size={ len(df1.index):4d}')

name,#players,mean,low,high,size,
NewBiggestFirst,1,13.60600,13.43482,13.77718,2500
NewBiggestFirst,2,13.55360,13.46386,13.64334,10000
NewBiggestFirst,3,13.55373,13.47860,13.62887,15000
Replacement    ,1,13.73200,13.50733,13.95667,2500
Replacement    ,2,14.06060,13.88546,14.23574,10000
Replacement    ,3,14.52980,14.30500,14.75460,15000
Tunnels        ,1,14.02400,13.85453,14.19347,2500
Tunnels        ,2,14.10840,14.02202,14.19478,10000
Tunnels        ,3,14.13273,14.06186,14.20361,15000

In [22]:

def ttest(player1, player2):
    name1, numplayers1 = player1
    name2, numplayers2 = player2
    df = get_df()
    df1 = df[(df['name'] == name1) & (df['numplayers'] == numplayers1)]
    df2 = df[(df['name'] == name2) & (df['numplayers'] == numplayers2)]

    r = scipy.stats.ttest_ind(df1['numturns'], df2['numturns'], equal_var=False)
    print(f"{name1}({numplayers1}) v {name2}({numplayers2}) p={r.pvalue} (rstat={r.statistic})")

In [50]:
for n in [1, 2, 3]:
    df = get_df()
    df = df[df['numplayers'] == n]
    _df1 = df[(df['name'] == 'NewBiggestFirst')]
    _df2 = df[(df['name'] == 'Tunnels')]
    _df3 = df[(df['name'] == 'Replacement')]
    # Perform one-way ANOVA
    f_statistic, p_value = scipy.stats.f_oneway(
        _df1['numturns'],
        _df2['numturns'],
        _df3['numturns'],
    )
    print(f'Anova: {n} players')
    print("F-statistic:", f_statistic)
    print("P-value:", p_value)

Anova: 1 players
F-statistic: 4.888475078925091
P-value: 0.007556929812887649
Anova: 2 players
F-statistic: 23.59022158668857
P-value: 5.7935591754948083e-11
Anova: 3 players
F-statistic: 45.37279322597933
P-value: 2.0639031847487552e-20

In [52]:
for n in ['NewBiggestFirst','Tunnels','Replacement']:
    df = get_df()
    df = df[df['name'] == n]
    _df1 = df[(df['numplayers'] == 1)]
    _df2 = df[(df['numplayers'] == 2)]
    _df3 = df[(df['numplayers'] == 3)]
    # Perform one-way ANOVA
    f_statistic, p_value = scipy.stats.f_oneway(
        _df1['numturns'],
        _df2['numturns'],
        _df3['numturns'],
    )
    print(f'Anova: {n} players')
    print("F-statistic:", f_statistic)
    print("P-value:", p_value)

Anova: NewBiggestFirst players
F-statistic: 0.14552793448642426
P-value: 0.8645664044286042
Anova: Tunnels players
F-statistic: 0.6637701736708546
P-value: 0.5149146341732522
Anova: Replacement players
F-statistic: 7.759094292802188
P-value: 0.000427778227131076

In [23]:
ttest(players[0], players[3])
ttest(players[0], players[6])
ttest(players[3], players[6])

NewBiggestFirst(1) v Replacement(1) p=0.3817460002075228 (rstat=-0.8747664304531065)
NewBiggestFirst(1) v Tunnels(1) p=0.0006719985617594962 (rstat=-3.402894528227609)
Replacement(1) v Tunnels(1) p=0.041939956142999404 (rstat=-2.034677795985225)

In [24]:
ttest(players[1+0], players[1+3])
ttest(players[1+0], players[1+6])
ttest(players[1+3], players[1+6])

NewBiggestFirst(2) v Replacement(2) p=4.46643763207784e-07 (rstat=-5.050163198530697)
NewBiggestFirst(2) v Tunnels(2) p=2.713238904851738e-18 (rstat=-8.73125922441329)
Replacement(2) v Tunnels(2) p=0.631373378976926 (rstat=-0.47980481687818094)

In [25]:
ttest(players[2+0], players[2+3])
ttest(players[2+0], players[2+6])
ttest(players[2+3], players[2+6])

NewBiggestFirst(3) v Replacement(3) p=7.362597536238864e-16 (rstat=-8.071627817068523)
NewBiggestFirst(3) v Tunnels(3) p=4.955730300230546e-28 (rstat=-10.987694765123196)
Replacement(3) v Tunnels(3) p=0.0009621493360385552 (rstat=3.301914173941292)

In [26]:
ttest(players[0], players[1])
ttest(players[0], players[2])
ttest(players[1], players[2])

NewBiggestFirst(1) v NewBiggestFirst(2) p=0.5950273984091836 (rstat=0.5316076240384603)
NewBiggestFirst(1) v NewBiggestFirst(3) p=0.5835777291053357 (rstat=0.5482167225679361)
NewBiggestFirst(2) v NewBiggestFirst(3) p=0.9982182962219365 (rstat=-0.0022330620048334466)

In [27]:
ttest(players[3+0], players[3+1])
ttest(players[3+0], players[3+2])
ttest(players[3+1], players[3+2])

Replacement(1) v Replacement(2) p=0.023755653517903316 (rstat=-2.2616423807643913)
Replacement(1) v Replacement(3) p=8.758394849269152e-07 (rstat=-4.921272496792149)
Replacement(2) v Replacement(3) p=0.0012512165778032851 (rstat=-3.227309209826317)

In [28]:
ttest(players[6+0], players[6+1])
ttest(players[6+0], players[6+2])
ttest(players[6+1], players[6+2])

Tunnels(1) v Tunnels(2) p=0.38433690707681767 (rstat=-0.8700311463027074)
Tunnels(1) v Tunnels(3) p=0.2458512649999544 (rstat=-1.1606836857180272)
Tunnels(2) v Tunnels(3) p=0.6694666782901156 (rstat=-0.42688594447757866)

In [29]:
from notebook_utils.dataframes import get_stats_df
import pandas as pd

In [30]:
df = get_stats_df()
statistics = df.groupby(['name']).describe()
statistics

                numturns                                                      \
                   count       mean        std  min   25%   50%   75%    max
name
NewBiggestFirst  27500.0  13.558436   4.623208  2.0  11.0  13.0  15.0  112.0
Replacement      27500.0  14.286655  11.819695  2.0  10.0  13.0  15.0  845.0
Tunnels          27500.0  14.114000   4.410760  2.0  11.0  13.0  16.0   48.0

                numdiscards            ... percentnones            \
                      count      mean  ...          75%       max
name                                   ...
NewBiggestFirst     27500.0  5.723745  ...     0.000000  0.000000
Replacement         27500.0  7.177491  ...     0.111111  0.461538
Tunnels             27500.0  5.498982  ...     0.000000  0.000000

                avgcomputationaltime                                          \
                               count          mean          std          min
name
NewBiggestFirst              27500.0   5634.195456  2301.948890  3894.736842
Replacement                  27500.0   4059.443221  1757.870498  2180.000000
Tunnels                      27500.0  11952.133291  3913.762007  7723.076923


                          25%           50%           75%           max
name
NewBiggestFirst   4758.333333   4975.595238   5350.000000  56064.285714
Replacement       3342.857143   3608.514493   3964.285714  36716.666667
Tunnels          10526.666667  11169.230769  11972.222222  70477.777778

[3 rows x 64 columns]

In [31]:

print(f'name,#players,mean,low,high,size,')
for player in players:
    name, numplayers = player
    df = get_df()
    df1 = df[(df['name'] == name) & (df['numplayers'] == numplayers)] # df.query(f'name == "{name}"').query(f'numplayers == {numplayers}')    
    mean, low, high = mean_confidence_interval(df1['numturns'])
    
    print(f'{ name:15},{ numplayers },{ float(mean):5.5f},{ float(low):5.5f},{ float(high):5.5f},{ len(df1.index):4d}')
    # print(f'name={ name:15} #players={ numplayers } mean={ float(mean):5.5f} low={ float(low):5.5f} high={ float(high):5.5f} size={ len(df1.index):4d}')

name,#players,mean,low,high,size,
NewBiggestFirst,1,13.60600,13.43482,13.77718,2500
NewBiggestFirst,2,13.55360,13.46386,13.64334,10000
NewBiggestFirst,3,13.55373,13.47860,13.62887,15000
Replacement    ,1,13.73200,13.50733,13.95667,2500
Replacement    ,2,14.06060,13.88546,14.23574,10000
Replacement    ,3,14.52980,14.30500,14.75460,15000
Tunnels        ,1,14.02400,13.85453,14.19347,2500
Tunnels        ,2,14.10840,14.02202,14.19478,10000
Tunnels        ,3,14.13273,14.06186,14.20361,15000

In [ ]:

print(f'name,#players,mean,low,high,size,')
for player in players:
    name, numplayers = player
    df = get_df()
    df1 = df[(df['name'] == name) & (df['numplayers'] == numplayers)] # df.query(f'name == "{name}"').query(f'numplayers == {numplayers}')    
    mean, low, high = mean_confidence_interval(df1['numturns'])
    
    print(f'{ name:15},{ numplayers },{ float(mean):5.5f},{ float(low):5.5f},{ float(high):5.5f},{ len(df1.index):4d}')
    # print(f'name={ name:15} #players={ numplayers } mean={ float(mean):5.5f} low={ float(low):5.5f} high={ float(high):5.5f} size={ len(df1.index):4d}')

name,#players,mean,low,high,size,
NewBiggestFirst,1,13.60600,13.43482,13.77718,2500
NewBiggestFirst,2,13.55360,13.46386,13.64334,10000
NewBiggestFirst,3,13.55373,13.47860,13.62887,15000
Replacement    ,1,13.73200,13.50733,13.95667,2500
Replacement    ,2,14.06060,13.88546,14.23574,10000
Replacement    ,3,14.52980,14.30500,14.75460,15000
Tunnels        ,1,14.02400,13.85453,14.19347,2500
Tunnels        ,2,14.10840,14.02202,14.19478,10000
Tunnels        ,3,14.13273,14.06186,14.20361,15000

In [33]:
from notebook_utils.stats_tests.regression_tests import run_linear_regression
# https://www.scribbr.com/statistics/pearson-correlation-coefficient/
df = get_stats_df()

In [34]:
from notebook_utils.stats_tests.pearson_correlation import pearsons_correlation

_df = df[(df['name'] == "NewBiggestFirst")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentdiscards'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')

pearsons_correlation(_df['percentdiscards'], _df['numturns'])

r^2: 0.32472934818095633 [-15.89609075]x + 20.78092903113837
Correlation coefficient: -0.5698502857601779
P-value: 0.0

In [35]:
_df = df[(df['name'] == "Tunnels")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentdiscards'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')
pearsons_correlation(_df['percentdiscards'], _df['numturns'])

r^2: 0.1674506781639824 [-10.74357811]x + 18.530631858724636
Correlation coefficient: -0.4092073779442184
P-value: 0.0

In [36]:
_df = df[(df['name'] == "Replacement")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentdiscards'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')

pearsons_correlation(_df['percentdiscards'], _df['numturns'])

r^2: 0.10747422785465355 [-24.42548776]x + 27.60872923199144
Correlation coefficient: -0.32783262170603744
P-value: 0.0

In [37]:
_df = df[(df['name'] == "NewBiggestFirst")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentdraws'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')

pearsons_correlation(_df['percentdraws'], _df['numturns'])

r^2: 0.32472934818095633 [15.89609075]x + 4.884838276386949
Correlation coefficient: 0.5698502857601779
P-value: 0.0

In [38]:
_df = df[(df['name'] == "Tunnels")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentdraws'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')


pearsons_correlation(_df['percentdraws'], _df['numturns'])

r^2: 0.1674506781639823 [10.74357811]x + 7.78705375248178
Correlation coefficient: 0.40920737794421835
P-value: 0.0

In [39]:
_df = df[(df['name'] == "Replacement")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentdraws'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')


pearsons_correlation(_df['percentdraws'], _df['numturns'])

r^2: 0.056101761055378896 [19.22380015]x + 6.80537005791087
Correlation coefficient: 0.2368581032081845
P-value: 0.0

In [40]:
_df = df[(df['name'] == "NewBiggestFirst")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentnones'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')

pearsons_correlation(_df['percentnones'], _df['numturns'])

r^2: 0.0 [0.]x + 13.558436363636364
Correlation coefficient: nan
P-value: nan

c:\Users\patri\Projects\SeniorResearchProject\notebook_utils\stats_tests\pearson_correlation.py:9: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  correlation_coefficient, p_value = stats.pearsonr(x, y)

In [41]:
_df = df[(df['name'] == "Tunnels")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentnones'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')

pearsons_correlation(_df['percentnones'], _df['numturns'])

r^2: 0.0 [0.]x + 14.114
Correlation coefficient: nan
P-value: nan

c:\Users\patri\Projects\SeniorResearchProject\notebook_utils\stats_tests\pearson_correlation.py:9: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  correlation_coefficient, p_value = stats.pearsonr(x, y)

In [42]:
_df = df[(df['name'] == "Replacement")]
# mx + b
r2, m, b = run_linear_regression(_df, _df['percentnones'], _df['numturns'])
print(f'r^2: {r2} {m}x + {b}')

pearsons_correlation(_df['percentnones'], _df['numturns'])

r^2: 0.05694161392891428 [38.4289856]x + 11.772813245148829
Correlation coefficient: 0.2386244202275081
P-value: 0.0

In [43]:
from notebook_utils.queries import run_query_file
import pandas as pd
data = run_query_file('sql_queries/get_starting_player_and_winning_player_counts.sql')
# print(data)

_i_df = {
    'count':[i[0] for i in data],
    'numplayers': [i[1] for i in data],
    'starting_player': [i[2] for i in data],
    'winning_player': [i[3] for i in data],
}

player_winds_df = pd.DataFrame(_i_df)
player_winds_df

    count  numplayers  starting_player   winning_player
0    2641           2  NewBiggestFirst  NewBiggestFirst
1    1184           2  NewBiggestFirst      Replacement
2    1050           2  NewBiggestFirst          Tunnels
3    1120           2      Replacement  NewBiggestFirst
4    2522           2      Replacement      Replacement
5     998           2      Replacement          Tunnels
6    1239           2          Tunnels  NewBiggestFirst
7    1294           2          Tunnels      Replacement
8    2952           2          Tunnels          Tunnels
9    1746           3  NewBiggestFirst  NewBiggestFirst
10   1422           3  NewBiggestFirst      Replacement
11   1397           3  NewBiggestFirst          Tunnels
12   1439           3      Replacement  NewBiggestFirst
13   1750           3      Replacement      Replacement
14   1382           3      Replacement          Tunnels
15   1815           3          Tunnels  NewBiggestFirst
16   1828           3          Tunnels      Replacement
17   2221           3          Tunnels          Tunnels

In [44]:
from notebook_utils.queries import run_query_file
import pandas as pd
data = run_query_file('sql_queries/get_starting_player_and_winning_player.sql')
# print(data)

_i_df = {
    'id':[i[0] for i in data],
    'numplayers': [i[1] for i in data],
    'starting_player': [i[2] for i in data],
    'winning_player': [i[3] for i in data],
}

player_winds_df = pd.DataFrame(_i_df)
player_winds_df = player_winds_df[player_winds_df['numplayers'] == 3]
player_winds_df = player_winds_df[player_winds_df['winning_player'] !=  "Tunnels"]
crosstab = pd.crosstab(
    player_winds_df['starting_player'],
    player_winds_df['winning_player'],
)
crosstab

winning_player   NewBiggestFirst  Replacement
starting_player
NewBiggestFirst             1746         1422
Replacement                 1439         1750
Tunnels                     1815         1828

In [45]:
from scipy.stats import chi2_contingency

res = chi2_contingency(crosstab)
res.pvalue
# print(f' chi2={chi2}, p={p}, dof={dof}, ex={ex}')

np.float64(1.6161214561704006e-14)

In [46]:
from notebook_utils.queries import run_query_file
import pandas as pd
data = run_query_file('sql_queries/get_starting_player_and_winning_player.sql')
# print(data)

_i_df = {
    'id':[i[0] for i in data],
    'numplayers': [i[1] for i in data],
    'starting_player': [i[2] for i in data],
    'winning_player': [i[3] for i in data],
}

player_winds_df = pd.DataFrame(_i_df)
player_winds_df = player_winds_df[player_winds_df['numplayers'] == 3]
# player_winds_df = player_winds_df[player_winds_df['winning_player'] !=  "Tunnels"]
crosstab = pd.crosstab(
    player_winds_df['starting_player'],
    player_winds_df['winning_player'],
)
crosstab

winning_player   NewBiggestFirst  Replacement  Tunnels
starting_player
NewBiggestFirst             1746         1422     1397
Replacement                 1439         1750     1382
Tunnels                     1815         1828     2221

In [47]:

res = chi2_contingency(crosstab)
res.pvalue
# print(f' chi2={chi2}, p={p}, dof={dof}, ex={ex}')

np.float64(1.1694176264194031e-32)

In [48]:
# time regression analysis

df = get_stats_df()

for name in ['NewBiggestFirst', 'Tunnels', 'Replacement', None]:
    if name is not None:
        print(f'Reg Analysis (comp time): {name}')
        _df = df[(df['name'] == name)]
    else:
        print(f'Reg Analysis (comp time): All')
        _df = df
    # mx + b
    r2, m, b = run_linear_regression(_df, _df['avgcomputationaltime'], _df['numturns'])
    print(f'r^2: {r2} {m}x + {b}')

    pearsons_correlation(_df['avgcomputationaltime'], _df['numturns'])

Reg Analysis (comp time): NewBiggestFirst
r^2: 0.0014578286161230913 [-7.66833369e-05]x + 13.990485272009561
Correlation coefficient: -0.038181521919942465
P-value: 2.3933416234785183e-10
Reg Analysis (comp time): Tunnels
r^2: 0.011274671713371598 [-0.00011967]x + 15.544264564787687
Correlation coefficient: -0.10618225705536458
P-value: 8.914650992059948e-70
Reg Analysis (comp time): Replacement
r^2: 0.00014015919379462005 [7.96031409e-05]x + 13.963510114762252
Correlation coefficient: 0.011838884820575029
P-value: 0.049618700273051757
Reg Analysis (comp time): All
r^2: 0.00025997682034195613 [-2.83222901e-05]x + 14.1907162476672
Correlation coefficient: -0.016123796709894556
P-value: 3.6313319265672803e-06